@charset "UTF-8";
/*! destyle.css v2.0.2 | MIT License | https://github.com/nicolas-cusan/destyle.css */
/* Reset box-model and set borders */
/* ============================================ */
*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-style: solid;
  border-width: 0;
}

/* Document */
/* ============================================ */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 * 3. Remove gray overlay on links for iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -webkit-tap-highlight-color: transparent;
  /* 3*/
}

/* Sections */
/* ============================================ */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/* Vertical rhythm */
/* ============================================ */
p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0;
}

/* Headings */
/* ============================================ */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
  margin: 0;
}

/* Lists (enumeration) */
/* ============================================ */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Lists (definition) */
/* ============================================ */
dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

/* Grouping content */
/* ============================================ */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
  border-top-width: 1px;
  margin: 0;
  clear: both;
  color: inherit;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */
}

address {
  font-style: inherit;
}

/* Text-level semantics */
/* ============================================ */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content */
/* ============================================ */
/**
 * Prevent vertical alignment issues.
 */
img,
embed,
object,
iframe {
  vertical-align: bottom;
}

/* Forms */
/* ============================================ */
/**
 * Reset form fields to make them styleable
 */
button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  background: transparent;
  padding: 0;
  margin: 0;
  outline: 0;
  border-radius: 0;
  text-align: inherit;
}

/**
 * Reset radio and checkbox appearance to preserve their look in iOS.
 */
[type="checkbox"] {
  -webkit-appearance: checkbox;
  -moz-appearance: checkbox;
       appearance: checkbox;
}

[type="radio"] {
  -webkit-appearance: radio;
  -moz-appearance: radio;
       appearance: radio;
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
}

button[disabled],
[type="button"][disabled],
[type="reset"][disabled],
[type="submit"][disabled] {
  cursor: default;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Remove arrow in IE10 & IE11
 */
select::-ms-expand {
  display: none;
}

/**
 * Remove padding
 */
option {
  padding: 0;
}

/**
 * Reset to invisible
 */
fieldset {
  margin: 0;
  padding: 0;
  min-width: 0;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the outline style in Safari.
 */
[type="search"] {
  outline-offset: -2px;
  /* 1 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/**
 * Clickable labels
 */
label[for] {
  cursor: pointer;
}

/* Interactive */
/* ============================================ */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/*
 * Remove outline for editable content.
 */
[contenteditable] {
  outline: none;
}

/* Table */
/* ============================================ */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption {
  text-align: left;
}

td,
th {
  vertical-align: top;
  padding: 0;
}

th {
  text-align: left;
  font-weight: bold;
}

/* Misc */
/* ============================================ */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 16px;
  line-height: 1.9;
  font-family: Roboto Mono for Powerline;
}

.title {
  color: #707070;
  font-size: 1.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 6px;
}

@media (max-width: 600px) {
  .title {
    margin-bottom: 60px;
  }
}

.title:after {
  display: inline-block;
  content: "";
  width: 6.4em;
  border-bottom: 1px solid;
  margin-left: 4.5rem;
}

.inner {
  margin: 0 auto;
  width: 100%;
  padding: 260px 100px 70px 100px;
}

@media (max-width: 600px) {
  .inner {
    padding: 60px 0;
    width: 90%;
  }
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 68px 487px 77px 68px;
  width: 100%;
  position: absolute;
  z-index: 10;
}

@media (max-width: 600px) {
  header {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 24px 20px;
    position: static;
  }
}

.hd-logo {
  font-size: 3.8rem;
  font-weight: bold;
  margin-right: 20px;
  white-space: nowrap;
}

@media (max-width: 600px) {
  nav {
    display: none;
  }
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.8rem;
  color: #707070;
}

li:hover {
  text-decoration: underline;
  color: #000000;
}

li:not(:last-child) {
  margin-right: 20px;
}

@media (max-width: 600px) {
  .ham {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 16px;
    height: 14px;
  }
  .ham span {
    display: inline-block;
    width: 100%;
    height: 2px;
    background-color: #3B4043;
  }
  .ham span:nth-child(3) {
    width: 80%;
  }
}

.first-v {
  height: 100vh;
  width: 100%;
}

.first-v__wrap {
  position: absolute;
  top: 37%;
  left: 8.3%;
  height: 214px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 10;
  font-size: 3.8rem;
}

@media (max-width: 600px) {
  .first-v__wrap {
    color: #fff;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    height: 202px;
    font-size: 2.8rem;
    min-width: 288px;
    position: absolute;
    text-shadow: 0  3px 16px #000;
  }
}

.catch1 {
  font-family: ヒラギノ明朝 Pro,sans-serif;
}

.catch2 {
  font-family: Zapfino, sans-serif;
  line-height: 128px;
}

.first-view-img {
  height: 100vh;
  width: 53.7%;
  background-image: url(../img/Blondwoman.png);
  background-size: cover;
  position: absolute;
  right: 0%;
}

@media (max-width: 600px) {
  .first-view-img {
    width: 100%;
  }
}

#concept {
  background: -webkit-gradient(linear, left top, left bottom, from(#A193861F), color-stop(50%, #A193861F), color-stop(50%, #A1938689), to(#A1938689));
  background: linear-gradient(180deg, #A193861F 0%, #A193861F 50%, #A1938689 50%, #A1938689 100%);
}

.concept-img {
  width: 100%;
  height: 413px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 69px;
}

@media (max-width: 600px) {
  .concept-img {
    height: 205px;
    margin-bottom: 50px;
  }
}

.concept-img__img1 {
  background-image: url(../img/andrew.png);
  background-size: cover;
  width: 62.7%;
  height: 100%;
}

@media (max-width: 600px) {
  .concept-img__img1 {
    width: 49%;
    background-position: 70%;
  }
}

.concept-img__img2 {
  background-image: url(../img/joel.png);
  background-size: cover;
  width: 36.3%;
}

@media (max-width: 600px) {
  .concept-img__img2 {
    width: 49%;
  }
}

.concept-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
}

@media (max-width: 600px) {
  .concept-wrap {
    display: block;
    text-align: center;
  }
}

.concept-wrap .catch3 {
  font-size: 4rem;
  white-space: nowrap;
}

@media (max-width: 600px) {
  .concept-wrap .catch3 {
    font-size: 1.8rem;
    margin-bottom: 18px;
  }
}

.concept-wrap .concept-text {
  width: 45.7%;
  font-family: ヒラギノ角ゴ Pro, sans-serif;
  text-align: justify;
}

@media (max-width: 600px) {
  .concept-wrap .concept-text {
    font-size: 1.6rem;
    width: 100%;
  }
}

.menu-wrap {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 600px) {
  .menu-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.menu-item {
  width: 271px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 600px) {
  .menu-item {
    width: 100%;
    display: block;
  }
}

@media (max-width: 600px) {
  .menu-item:not(:nth-child(3)) {
    margin-bottom: 63px;
  }
}

.menu-item .item-img {
  width: 100%;
  height: 271px;
  margin-bottom: 37px;
}

@media (max-width: 600px) {
  .menu-item .item-img {
    margin: auto;
    width: 335px;
    height: 271px;
    overflow: hidden;
  }
}

.menu-item .item-img img {
  width: 100%;
}

.menu-item .item-content {
  padding: 0 10px;
}

@media (max-width: 600px) {
  .menu-item .item-content {
    margin: 0 auto;
    min-width: 300px;
    width: 335px;
  }
}

.menu-item .item-content__title {
  font-size: 3rem;
  margin-bottom: 34px;
  text-align: center;
}

@media (max-width: 600px) {
  .menu-item .item-content__title {
    text-align: left;
  }
}

.menu-item .item-content__text {
  margin-bottom: 34px;
  text-align: justify;
}

.menu-item .item-content__price {
  text-align: right;
}

#access {
  background-color: #A193861F;
}

#access .a-inner {
  margin: 0 auto;
  width: 100%;
}

@media (max-width: 600px) {
  #access .a-inner {
    padding: 60px 0px;
    width: 90%;
  }
}

#access .title {
  padding: 260px 100px 6px 100px;
}

@media (max-width: 600px) {
  #access .title {
    padding-left: 0px;
  }
}

#access .access-wrap {
  height: 396px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 600px) {
  #access .access-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    height: 513px;
  }
}

.adress {
  background-color: #D0C5BA;
  width: 39.5%;
  height: 100%;
  position: relative;
}

@media (max-width: 600px) {
  .adress {
    width: 100%;
  }
}

.adress-content {
  position: absolute;
  top: 101px;
  left: 20.5%;
}

@media (max-width: 600px) {
  .adress-content {
    position: absolute;
    top: 30px;
    left: 20px;
  }
}

.adress-content__name {
  margin-bottom: 20px;
  color: #00000038;
  font-size: 24px;
  font-weight: bold;
}

.adress-content__indeed {
  line-height: 2.5;
  color: #ffffff;
}

.map {
  width: 60.5%;
  height: 100%;
}

@media (max-width: 600px) {
  .map {
    width: 100%;
    height: 230px;
  }
}

.map iframe {
  height: 100%;
  width: 100%;
}

footer {
  height: 342px;
  position: relative;
}

footer .footer-line {
  border: 1px solid #70707036;
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media (max-width: 600px) {
  footer {
    height: 100px;
  }
}

.salonbeppu {
  font-size: 3.2rem;
  color: #7070704D;
  margin-right: 10px;
  text-decoration: none;
}

@media (max-width: 600px) {
  .salonbeppu {
    font-size: 1.8rem;
  }
}

.sns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 2rem;
  width: 50px;
}

.footer-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%);
}

@media (max-width: 600px) {
  .footer-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 70%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 600px) {
  .icon {
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

#RESERVE {
  display: inline-block;
  color: #707070;
  border: 1px solid;
  font-size: 1.8rem;
  padding: 10px 41px;
  text-decoration: none;
}

@media (max-width: 600px) {
  #RESERVE {
    font-size: 1.4rem;
    margin: 23px 136px 73px;
  }
}
/*# sourceMappingURL=main.css.map */